@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*fluid scrolling*/

html {
  scroll-behavior: smooth;
}


/*useful variables*/
:root {
  --primary-color: #557ef7;
  --primary-color-dark: #3355ea;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: rgb(235, 252, 252);
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* le width and height of an element include padding and margin*/
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
  color: black;
  min-height: 700vh;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
.name:hover {
  color: var(--primary-color-dark);
}


ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}



.section {
  margin: 1rem;
}


.section-container {
  min-height: 100vh;
  max-width: var(--max-width);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.home-description{
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.description {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: var(--text-light);
}

.image {
  display: grid;
  place-items: center;
}

.image1 {
  width: min(25rem, 90%);
  border-radius: 100%;
}



.separation-for-direction {
  height: 100px;
}


.section-title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
  text-align: center;
}

.education {
  margin: 1rem;
}

.about-me-intro {
  width: 600px;
  margin: 0 auto; /* The whole paragraph is centered in the page */
  text-align: center; /*text is centered (ligns don't begin on the left) */

  
}

.hobby {
  color: var(--text-dark);
  font-weight: 400;
}


.image2 {
  width: 100%;
}

.image3-4-5 {
  width: 50%;
}

.image4 {
  width: 50%;
}

.image5 {
  width: 50%;
}

.link {
  color: var(--primary-color)
}







/*small screens*/

@media (width < 750px) {    
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}




































/*
.header {
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}


.left-section {
    margin-left: 20px;
    margin-top: 20px
}


.right-section {
    margin-right: 75px;
    display: flex;
    align-items: center;
    gap : 20px;
}

a {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    text-decoration: none; 
    border: 2px solid transparent;
    transition: 0.3s
}

a {
    color: rgb(0, 119, 255);
    border-top-color: rgb(0, 119, 255);
    border-bottom-color: rgb(0, 119, 255);
}

*/